<div class="container">
    <h1>Admin Page</h1>
    <h2>Add Service Here</h2>
  </div>
  
<div class="box">
    <label for="">Enter Plan Id :</label>
    <input type="text" [(ngModel)]="planId"><br><br>
    <label for="">Enter Service Name :</label>
    <input type="text"[(ngModel)]="serviceName"><br><br>
    <label for="">Enter Plan Cost :</label>
    <input type="text"[(ngModel)]="planCost"><br><br>
    <label for="">Enter Duration :</label>
    <input type="text"[(ngModel)]="duration"><br><br>
    <label for="">Enter Plan Type :</label>
    <input type="text"[(ngModel)]="planType"><br>
    <button (click)="addPlan()">ADD Plan</button><br>
    <a mat-button color="warn" (click)="viewAll()">View All Plans</a>
   <a mat-button color="warn" (click)="logout()" class="logout-link"> <mat-icon>power_settings_new</mat-icon>
        Log Out
      </a>

</div>
