/* login-signup.component.css */
.heading {
    font-size: 24px;
    font-weight: bold;
    color: #3f51b5; /* Indigo */
    margin: 10px 0; /* Adjust margin as needed */
    text-align: center; /* Center the text horizontally */
    /* Add any other styles you want */
  }
  
  
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.input-container {
    margin-bottom: 15px;
    width: 100%;
}

.input-container mat-form-field {
    width: 100%;
}

.input-container input {
    width: 100%;
}

button {
    margin-top: 20px;
    width: 100%;
}
