<!-- <div id="userplan">
    <div *ngFor="let plan of userPlans">
        <h3>{{ plan.serviceName }}</h3>
        <div class="plan-details">
            <p><strong>Duration:</strong> {{ plan.duration }} days</p>
            <p><strong>Plan Cost:</strong> {{ plan.planCost }}</p>
            <p><strong>Expiring on</strong> {{ plan.endDate}}</p>
        </div>
        <button (click)="upgrade(plan.planId,plan.serviceName)">Upgrade</button>
    </div>
    <div>
        <h2>To add new Services</h2>
        <button (click)="viewPlans()">Click Here</button>
    </div>
</div> -->
<!-- <div id="userplan">
    <h2>Your Current Plans</h2>
    <mat-card *ngFor="let plan of userPlans" class="plan-card">
      <mat-card-header>
        <mat-card-title>{{ plan.serviceName }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="plan-details">
        <p><strong>Duration:</strong> {{ plan.duration }} days</p>
        <p><strong>Plan Cost:</strong> ${{ plan.planCost }}</p>
        <p><strong>Expiring on:</strong> {{ plan.endDate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="upgrade(plan.planId, plan.serviceName)">Upgrade</button>
      </mat-card-actions>
    </mat-card>
  
    <h2>To add new Services</h2>
    <button mat-raised-button color="primary" (click)="viewPlans()">Click Here</button>
  </div> -->


<!-- workingcode -->
<!-- <div id="userplan">
  <h2>Welcome {{userName}}!! </h2>

  <div *ngFor="let plan of userPlans">
    <mat-card class="subscription-card" class="mat-card" [ngClass]="{ 'mat-expanded': isHovered }">
      <mat-card-header>
        <mat-card-title>{{ plan.serviceName }} ({{plan.planType}})</mat-card-title>
        <mat-card-subtitle>Expiring on: {{ plan.endDate }}</mat-card-subtitle>
        <mat-card-subtitle>Starting on: {{ plan.startDate }}</mat-card-subtitle>
        <mat-card-subtitle>Your plan will expire in {{ plan.remainingDays}} days</mat-card-subtitle>
      </mat-card-header >
      <mat-card-content class="plan-details">
        <p><strong>Duration:</strong> {{ plan.duration }} days</p>
        <p><strong>Plan Cost:</strong> {{ plan.planCost | currency:'INR' }}</p>
      </mat-card-content>
      <mat-card-actions (mouseenter)="cardHovered()" (mouseleave)="cardLeft()" >

        <button *ngIf="plan.planType !== 'Premium'" mat-raised-button color="primary"
          (click)="upgrade(plan.planId, plan.serviceName)" >Upgrade</button>



        <button mat-raised-button class="cancelButton" color="primary" (click)="cancel(plan.planId)">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->
<div id="userplan">
  <h2 id="welcome-header">Welcome {{ userName }}!</h2>
  <div class="mat-card-container">
    <div *ngFor="let plan of userPlans">
      <mat-card class="subscription-card" class="mat-card" [ngClass]="{ 'mat-expanded': isHovered }">
        <mat-card-header class="centered-header">
          <mat-card-title class="title">{{ plan.serviceName }} | {{ plan.planType }}</mat-card-title>
<div class="content">
          <mat-card-subtitle class="startDate">Started on: {{ plan.startDate }}</mat-card-subtitle>
          <mat-card-content class="plan-details">
            <p> <strong>{{ plan.planCost | currency:'INR' }}/ {{ plan.duration }} days</strong></p>
          </mat-card-content>
          <mat-card-subtitle class="endDate">Expiring on: {{ plan.endDate }}</mat-card-subtitle>
          <mat-card-subtitle class="expiry">Your plan will expire in <b>{{ plan.remainingDays }}</b> days</mat-card-subtitle>
        </div>
        </mat-card-header>

        <mat-card-actions (mouseenter)="cardHovered()" (mouseleave)="cardLeft()" class="button-container">

          <button *ngIf="plan.planType !== 'Premium'" mat-raised-button color="primary"
            [ngClass]="{ 'animate-button': isHovered }"
            (click)="upgrade(plan.planId, plan.serviceName)">Upgrade</button>

          <button mat-raised-button class="cancelButton" color="primary" [ngClass]="{ 'animate-button': isHovered }"
            (click)="cancel(plan.planId)">Cancel</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>