
.plan-details p {
  margin: 5px 0;
}
.plan-details {
  font-size: 20px;
  margin: 15px 0px;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.mat-card-container {
  display: flex;
  flex-wrap: wrap;
 /* justify-content: space-around;  Align items evenly with space around */
}
.subscription-card {
  border: 1px solid #3f51b5; 
  border-radius: 8px; 
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.cancelButton{
  margin-left: 13px;
}
.mat-card-container {
  display: flex; 
  flex-wrap: wrap; 
}
.centered-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title{
  margin-top: 4px;
font-size: 20px;
}
.startDate{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 13px;
}

.endDate,.expiry{
  font-size: 13px;
}
.expiry{
  margin-top: 18px;
}

.centered-actions {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;

}

.type[_ngcontent-ng-c2358039019] {
  background-color: #e0d7f2bd;
  /* padding-top: 3px; */
  /* padding-top: 3px; */
  font-size: 15px;
    border-radius: 14px;
    width: 85px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .mat-card {
  border: 2px solid #c9bbe1; 
  border-radius: 8px;
  transition: transform 0.3s ease-in-out; 
  margin: 30px; 
  max-width: 400px;
  margin-left: 200px;
  border: 2px solid #c9bbe1;
  border-radius: 8px; 
}


.mat-card:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  background-color: #ece9f1;
} */

.mat-card {
  border: 2px solid #c9bbe1; 
  border-radius: 8px;
  transition: transform 0.3s ease-in-out; 
  margin: 30px; 
  height: 325px;
  border: 2px solid #c9bbe1; /* Set border color */
  border-radius: 8px; 
}

.mat-card:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  background-color: #ece9f1;
}
.animate-button {
  transition: transform 0.3s ease-in-out;
}

.animate-button:hover {
  transform: scale(1.1);
}
#welcome-header {
  background-color: #cdcee6; /* Background color */
  color: #333; /* Text color */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for a subtle lift */
  font-size: 24px; /* Font size */
  font-weight: bold; /* Bold font */
  text-align: center; /* Center align the text */
}

h1 {
  background-color: #cdcee6; /* Background color */
  color: #333; /* Text color */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  font-size: 24px; /* Font size */
  font-weight: bold; /* Bold font */
}