<!-- <div class="subscription-plans">
    <div *ngFor="let plan of allPlans" class="plan-card">
        <h3>{{ plan.serviceName }}</h3>
        <div class="plan-details">
            <p><strong>Duration:</strong> {{ plan.duration }} days</p>
            <p><strong>Plan Cost:</strong> ${{ plan.planCost }}</p>
        </div>
        <button (click)="addPlan(plan.planId, plan.planCost, plan.serviceName, plan.duration)">Subscribe</button>
    </div>
</div> -->
<div class="subscription-plans">
    <mat-card *ngFor="let plan of allPlans" class="plan-card">
      <mat-card-header>
        <mat-card-title>{{ plan.serviceName }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="plan-details">
        <p><strong>Duration:</strong> {{ plan.duration }} days</p>
        <p><strong>Plan Cost:</strong> ${{ plan.planCost }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addPlan(plan.planId, plan.planCost, plan.serviceName, plan.duration)">Subscribe</button>
      </mat-card-actions>
    </mat-card>
  </div>
  