
<div *ngFor="let plan of userPlans">
    <mat-card class="subscription-card">
      <mat-card-header>
        <mat-card-title>{{ plan.serviceName }} | {{plan.planType}}</mat-card-title>
        <mat-card-subtitle>Expired on: {{ plan.endDate }}</mat-card-subtitle>
        <mat-card-subtitle>Started on: {{ plan.startDate }}</mat-card-subtitle>
        <!-- <mat-card-subtitle>Your plan will expire in {{ plan.remainingDays}} days</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content class="plan-details">
        <p><strong>Duration:</strong> {{ plan.duration }} days</p>
        <p><strong>Plan Cost:</strong> {{ plan.planCost | currency:'INR' }}</p>
      </mat-card-content>
    </mat-card>
  </div>