<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list color="primary">
      <a mat-list-item routerLink="/sidenav/dashboard" routerLinkActive="active default-active" routerLinkActive="active" matTooltip="Your Plans" [matTooltipPosition]="'after'" >
        <mat-icon class="custom-icon-color">group</mat-icon>
        <span class="custom-text-color" style="margin-left: 12px;">My Plans</span>
      </a>
      <a mat-list-item routerLink="/sidenav/allplan" routerLinkActive="active" matTooltip="User Plans" [matTooltipPosition]="'after'">
        <mat-icon class="custom-icon-color">playlist_add</mat-icon>
        <span class="custom-text-color" style="margin-left: 10px;"> Add Plans</span>
      </a>
      <a mat-list-item routerLink="/sidenav/viewallplan" routerLinkActive="active" matTooltip="All Plans" [matTooltipPosition]="'after'">
        <mat-icon class="custom-icon-color">view_list</mat-icon>
        <span class="custom-text-color" style="margin-left: 10px;"> All Plans</span>
      </a>
      <a mat-list-item routerLink="/sidenav/viewallplan" routerLinkActive="active" matTooltip="All Plans" [matTooltipPosition]="'after'">
        <mat-icon class="custom-icon-color">history</mat-icon>
        <span class="custom-text-color" style="margin-left: 10px;"> History</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
       <!-- @if (isHandset$ | async) {  -->
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon" >menu</mat-icon>
        </button>
       <!-- }  -->
      <span>Subscription Management</span>
      <!-- <button mat-raised-button color="primary" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        Log Out
      </button> -->
      <button mat-icon-button [matBadge]="0" matBadgeColor="accent" matBadgeSize="small" class="notification" >
        <mat-icon>notifications</mat-icon>
      </button>
      <a mat-button color="warn" (click)="logout()" class="logout-link"> <mat-icon>power_settings_new</mat-icon>
        Log Out
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
